<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Управление оптовым магазином</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Управление оптовым магазином", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!-- <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li> -->
                    <li>@Html.ActionLink("Работа с данными", "About", "Home")</li>
                    <li>@Html.ActionLink("Формирование отчетов", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Сотрудники", "Index", "Workers")</li>
          
                </ul>
                 @Html.Partial("_LoginPartial") 
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <ul>
                <!-- <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li> -->
                <li>@Html.ActionLink("Работа с данными", "About", "Home")</li>
                <li>@Html.ActionLink("Формирование отчетов", "Contact", "Home")</li>
                <li>@Html.ActionLink("Сотрудники", "Index", "Workers")</li>
                <li>@Html.ActionLink("Дети", "Index", "WorkerChilds")</li>
                <li>@Html.ActionLink("Категории", "Index", "Categories")</li>
                <li>@Html.ActionLink("Причины списания", "Index", "Causes")</li>
                <li>@Html.ActionLink("Специальности", "Index", "EducationSpecialties")</li>
                <li>@Html.ActionLink("Должности", "Index", "Posts")</li>
                <li>@Html.ActionLink("Премии", "Index", "Prizes")</li>
                <li>@Html.ActionLink("Товары", "Index", "Products")</li>
                <li>@Html.ActionLink("Университеты", "Index", "Universities")</li>
                <li>@Html.ActionLink("Отпуска", "Index", "Vacations")</li>
                <li>@Html.ActionLink("Виды отпусков", "Index", "VacationSorts")</li>
                <li>@Html.ActionLink("Образование", "Index", "WorkerEducations")</li>
                <li>@Html.ActionLink("Должности", "Index", "WorkerPosts")</li>
                <li>@Html.ActionLink("Премии", "Index", "WorkerPrizes")</li>
                <li>@Html.ActionLink("Списание товара", "Index", "WriteOffProducts")</li>
            </ul>
            <p>&copy; @DateTime.Now.Year – Управление Оптовым Магазином</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
