@model OptMagazin.Models.WorkerChild

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WorkerChild</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Worker.WorkerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Worker.WorkerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildGender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildGender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildBirthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildBirthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudyPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudyPlace)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WorkerChildId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
